@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root{
  --vivid-violet: #f65af6;
  --black: #222;
  --light-black: #333;
  --white: #ffffff;
  --grey: #666;
}

*{
  margin: 0; padding: 0;
  box-sizing: border-box;
  border: none; outline: none;
  text-decoration: none;
  font-family: 'open sans', sans-serif;
  transition: all .2s ease-in;
}

*::selection{
  background: var(--vivid-violet);
  color: var(--white);
}

html{
  font-size: 62.5%;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

section{
  padding: 2rem 9%;
}

/* ---------------------------------------- header section ---------------------------------------- */

header{
  position: fixed;
  top: 0; left: 0; right: 0;
  padding: 1.2rem 9%;
  background: var(--light-black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

header .header-logo{
  display: flex;
  align-items: center;
}

header .header-logo img{
  width: 70px;
  margin: 0 .7rem 0 0;
}

header .header-logo a{
  font-size: 3rem;
  color: var(--white);
  font-weight: bolder;
}

header .navbar a{
  color: var(--white);
  font-size: 1.8rem;
  margin: 0 .9rem;
  text-transform: capitalize;
}

header .navbar a:hover{
  color: var(--vivid-violet);
}

header .icon i{
  color: var(--white);
  font-size: 3rem;
  margin: 0 0 0 .9rem;
  cursor: pointer;
}

header .icon i:hover{
  color: var(--vivid-violet);
}

header .login-container{
  position: fixed;
  top: -100%; left: 0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

header .login-container.active{
  top: 0;
}

header #menu-bar{
  font-size: 3.7rem;
  color: var(--white);
  cursor: pointer;
  display: none;
}

header #menu-bar:hover{
  color: var(--vivid-violet);
}

.login-container #form-closed{
  font-size: 5rem;
  color: var(--vivid-violet);
  position: absolute;
  top: 1.7rem; right: 6rem;
  cursor: pointer;
}

header .login-container form{
  margin: 2rem;
  padding: 1.5rem 2rem;
  border: .2rem solid var(--vivid-violet);
  background: rgb(218, 218, 218);
  width: 55rem;
  border-radius: 5rem 0 5rem 0;
  box-shadow: 0 1.2rem 2rem rgba(0, 0, 0, 0.3);
}

header .login-container h1{
  font-size: 4rem;
  margin: .9rem 0 2rem 0;
  text-align: center;
  letter-spacing: .1rem;
}

header .login-container .box{
  width: 100%;
  padding: .9rem 1.2rem;
  margin: .6rem 0;
  color: var(--light-black);
  border: .1rem solid var(--light-black);
  font-size: 1.7rem;
}

header .login-container .box:focus{
  border-color: var(--vivid-violet);
}

header .login-container label{
  font-size: 1.5rem;
  margin-left: .3rem;
  font-style: italic;
}

header .login-container p{
  font-size: 1.5rem;
  margin: .5rem 0;
}

header .login-container a{
  color: #c72dc7;
}

header .login-container a:hover{
  text-decoration: underline;
}

header .login-container .btn{
  display: block;
  padding: 1.5rem 0;
  margin: .9rem auto 2rem auto;
  background: var(--vivid-violet);
  font-size: 1.7rem;
  font-weight: 500;
  border-radius: 5rem;
  cursor: pointer;
  width: 35%;
}

header .login-container .btn:hover{
  background: rgba(206, 50, 206, 0.9);
}

.banner{
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255, 69, 240, 0.3)), url(../images/back.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner .content{
  text-align: center;
}

.banner .content h1{
  font-size: 5rem;
  text-shadow: 0 .7rem .5rem rgba(0, 0, 0, .5);
}

.banner .content p{
  font-size: 1.7rem;
}

/* -------------------------------------- media query -------------------------------------- */

@media screen and (max-width: 1200px){
  html{
    font-size: 55%;
  }

  .login-container #form-closed{
    right: 4.5rem; top: 2rem;
  }
}

@media screen and (max-width: 911px){
  header{
    padding: 2rem 5rem;
  }

  .login-container #form-closed{
    right: 10rem; top: 3rem;
  }
}

@media screen and (max-width: 768px){
  header #menu-bar{
    display: initial;
  }

  header .navbar{
    position: absolute;
    top: 100%; left: 0;
    width: 100%;
    background: var(--light-black);
    border-top: .2rem solid var(--grey);
    text-align: center;
    padding: 1.2rem 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100% );
  }

  header .navbar a{
    display: block;
    padding: 1.5rem 2rem;
    margin: .9rem 2rem;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1.2rem;
    background: #222;
    border-radius: 5rem;
    border: .1rem inset var(--grey);
  }

  .login-container #form-closed{
    right: 9rem; top: 2.8rem;
  }
}

@media screen and (max-width: 425px){
  html{
    font-size: 50%;
  }

  header{
    padding: 2rem 3rem;
  }

  .login-container #form-closed{
    right: 2.7rem; top: 11.2rem;
  }

  header .login-container .btn{
    width: 50%;
  }
}